{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2016-02-04",
    "endpointPrefix":"codebuild",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceFullName":"CodeBuild",
    "signatureVersion":"v4",
    "targetPrefix":"CoFaService"
  },
  "operations":{
    "BatchGetBuilds_New":{
      "name":"BatchGetBuilds_New",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetBuilds_NewInput"},
      "output":{"shape":"BatchGetBuilds_NewOutput"},
      "errors":[
        {"shape":"InvalidInputException"}
      ]
    },
    "BatchGetProjects":{
      "name":"BatchGetProjects",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetProjectsInput"},
      "output":{"shape":"BatchGetProjectsOutput"},
      "errors":[
        {"shape":"InvalidInputException"}
      ]
    },
    "CreateProject":{
      "name":"CreateProject",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateProjectInput"},
      "output":{"shape":"CreateProjectOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"AccountLimitExceededException"}
      ]
    },
    "DeleteProject":{
      "name":"DeleteProject",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteProjectInput"},
      "output":{"shape":"DeleteProjectOutput"},
      "errors":[
        {"shape":"InvalidInputException"}
      ]
    },
    "ListBuildsForProject":{
      "name":"ListBuildsForProject",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListBuildsForProjectInput"},
      "output":{"shape":"ListBuildsForProjectOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "ListBuilds_New":{
      "name":"ListBuilds_New",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListBuilds_NewInput"},
      "output":{"shape":"ListBuilds_NewOutput"},
      "errors":[
        {"shape":"InvalidInputException"}
      ]
    },
    "ListCuratedEnvironmentImages":{
      "name":"ListCuratedEnvironmentImages",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCuratedEnvironmentImagesInput"},
      "output":{"shape":"ListCuratedEnvironmentImagesOutput"}
    },
    "ListProjects":{
      "name":"ListProjects",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListProjectsInput"},
      "output":{"shape":"ListProjectsOutput"},
      "errors":[
        {"shape":"InvalidInputException"}
      ]
    },
    "StartBuild":{
      "name":"StartBuild",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartBuildInput"},
      "output":{"shape":"StartBuildOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "StopBuild":{
      "name":"StopBuild",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopBuildInput"},
      "output":{"shape":"StopBuildOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "UpdateProject":{
      "name":"UpdateProject",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateProjectInput"},
      "output":{"shape":"UpdateProjectOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ]
    }
  },
  "shapes":{
    "AccountLimitExceededException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "ArtifactLocation":{
      "type":"structure",
      "members":{
        "type":{"shape":"ArtifactsType"},
        "location":{"shape":"String"},
        "packaging":{"shape":"ArtifactPackaging"},
        "outputName":{"shape":"NonEmptyString"}
      }
    },
    "ArtifactLocations":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"}
    },
    "ArtifactPackaging":{
      "type":"string",
      "enum":[
        "none",
        "zip"
      ]
    },
    "ArtifactsType":{
      "type":"string",
      "enum":[
        "codepipeline",
        "s3"
      ]
    },
    "BatchGetBuildsInput":{
      "type":"structure",
      "members":{
        "buildArns":{"shape":"BuildArns"}
      }
    },
    "BatchGetBuildsOutput":{
      "type":"structure",
      "members":{
        "buildInfos":{"shape":"BuildInfos"},
        "buildsNotFound":{"shape":"BuildArns"}
      }
    },
    "BatchGetBuilds_NewInput":{
      "type":"structure",
      "members":{
        "ids":{"shape":"BuildIds"}
      }
    },
    "BatchGetBuilds_NewOutput":{
      "type":"structure",
      "members":{
        "builds":{"shape":"Builds"},
        "buildsNotFound":{"shape":"BuildIds"}
      }
    },
    "BatchGetClustersInput":{
      "type":"structure",
      "required":["names"],
      "members":{
        "names":{"shape":"ClusterNames"}
      }
    },
    "BatchGetClustersOutput":{
      "type":"structure",
      "members":{
        "clusters":{"shape":"Clusters"},
        "clustersNotFound":{"shape":"ClusterNames"}
      }
    },
    "BatchGetProjectsInput":{
      "type":"structure",
      "required":["names"],
      "members":{
        "names":{"shape":"ProjectNames"}
      }
    },
    "BatchGetProjectsOutput":{
      "type":"structure",
      "members":{
        "projects":{"shape":"Projects"},
        "projectsNotFound":{"shape":"ProjectNames"}
      }
    },
    "Boolean":{"type":"boolean"},
    "Build":{
      "type":"structure",
      "members":{
        "id":{"shape":"NonEmptyString"},
        "arn":{"shape":"NonEmptyString"},
        "created":{"shape":"Timestamp"},
        "currentPhase":{"shape":"String"},
        "buildStatus":{"shape":"StatusType"},
        "sourceVersion":{"shape":"NonEmptyString"},
        "projectName":{"shape":"NonEmptyString"},
        "phases":{"shape":"BuildPhases"},
        "artifacts":{"shape":"ArtifactLocation"},
        "logs":{"shape":"LogsLocation"},
        "buildComplete":{"shape":"Boolean"}
      }
    },
    "BuildArguments":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"}
    },
    "BuildArnRequiredException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "BuildArns":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "BuildDefinitionStatus":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "INACTIVE"
      ]
    },
    "BuildIds":{
      "type":"list",
      "member":{"shape":"NonEmptyString"}
    },
    "BuildInfo":{
      "type":"structure",
      "members":{
        "buildArn":{"shape":"String"},
        "createTime":{"shape":"Timestamp"},
        "buildDefinitionArn":{"shape":"String"},
        "buildDefinitionId":{"shape":"String"},
        "buildComplete":{"shape":"Boolean"},
        "buildState":{"shape":"String"},
        "buildPhase":{"shape":"String"},
        "buildPhaseHistory":{"shape":"BuildPhaseHistory"},
        "artifactLocations":{"shape":"ArtifactLocations"},
        "cloudWatchLogsLocations":{"shape":"CloudWatchLogsLocations"}
      }
    },
    "BuildInfos":{
      "type":"list",
      "member":{"shape":"BuildInfo"}
    },
    "BuildPhase":{
      "type":"structure",
      "members":{
        "phaseType":{"shape":"BuildPhaseType"},
        "phaseStatus":{"shape":"StatusType"},
        "startTime":{"shape":"Timestamp"},
        "endTime":{"shape":"Timestamp"},
        "durationInSeconds":{"shape":"WrapperLong"},
        "contexts":{"shape":"PhaseContexts"}
      }
    },
    "BuildPhaseContext":{
      "type":"structure",
      "members":{
        "statusCode":{"shape":"String"},
        "message":{"shape":"String"}
      }
    },
    "BuildPhaseContexts":{
      "type":"list",
      "member":{"shape":"BuildPhaseContext"}
    },
    "BuildPhaseHistory":{
      "type":"list",
      "member":{"shape":"BuildPhaseTransition"}
    },
    "BuildPhaseTransition":{
      "type":"structure",
      "members":{
        "sourcePhase":{"shape":"String"},
        "targetPhase":{"shape":"String"},
        "transitionState":{"shape":"String"},
        "transitionTime":{"shape":"Timestamp"},
        "contexts":{"shape":"BuildPhaseContexts"}
      }
    },
    "BuildPhaseType":{
      "type":"string",
      "enum":[
        "submitted",
        "queued",
        "downloadSource",
        "install",
        "preBuild",
        "duringBuild",
        "postBuild",
        "upload_artifacts",
        "finalizing",
        "completed"
      ]
    },
    "BuildPhases":{
      "type":"list",
      "member":{"shape":"BuildPhase"}
    },
    "Builds":{
      "type":"list",
      "member":{"shape":"Build"}
    },
    "CloudWatchLogsLocations":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"}
    },
    "Cluster":{
      "type":"structure",
      "members":{
        "name":{"shape":"String"},
        "arn":{"shape":"String"},
        "description":{"shape":"String"},
        "serviceRole":{"shape":"NonEmptyString"},
        "timeoutInMinutes":{"shape":"WrapperInt"},
        "encryptionKey":{"shape":"NonEmptyString"},
        "created":{"shape":"Timestamp"},
        "lastModified":{"shape":"Timestamp"}
      }
    },
    "ClusterNames":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "Clusters":{
      "type":"list",
      "member":{"shape":"Cluster"}
    },
    "ComputeType":{
      "type":"string",
      "enum":[
        "small",
        "medium",
        "large"
      ]
    },
    "ContainerConfiguration":{
      "type":"structure",
      "members":{
        "tag":{"shape":"NonEmptyString"},
        "image":{"shape":"NonEmptyString"},
        "environmentVariables":{"shape":"EnvironmentVariablesDeprecated"},
        "memory":{"shape":"WrapperInt"},
        "cpu":{"shape":"WrapperInt"},
        "privileged":{"shape":"Boolean"}
      }
    },
    "ContainerConfigurations":{
      "type":"list",
      "member":{"shape":"ContainerConfiguration"}
    },
    "ContainerEnvironment":{
      "type":"structure",
      "members":{
        "name":{"shape":"NonEmptyString"},
        "containerConfigurations":{"shape":"ContainerConfigurations"},
        "timeout":{"shape":"WrapperInt"},
        "finishNotificationTopic":{"shape":"String"},
        "serviceIAMRole":{"shape":"String"},
        "environmentVariables":{"shape":"EnvironmentVariablesDeprecated"},
        "encryptionKey":{"shape":"NonEmptyString"},
        "artifactsS3Bucket":{"shape":"NonEmptyString"}
      }
    },
    "CreateClusterInput":{
      "type":"structure",
      "required":[
        "name",
        "serviceRole"
      ],
      "members":{
        "name":{"shape":"NonEmptyString"},
        "description":{"shape":"String"},
        "serviceRole":{"shape":"NonEmptyString"},
        "timeoutInMinutes":{"shape":"WrapperInt"},
        "encryptionKey":{"shape":"NonEmptyString"}
      }
    },
    "CreateClusterOutput":{
      "type":"structure",
      "members":{
        "cluster":{"shape":"Cluster"}
      }
    },
    "CreateProjectInput":{
      "type":"structure",
      "required":[
        "name",
        "source",
        "artifacts",
        "environment"
      ],
      "members":{
        "name":{"shape":"NonEmptyString"},
        "description":{"shape":"String"},
        "source":{"shape":"ProjectSource"},
        "artifacts":{"shape":"ProjectArtifacts"},
        "environment":{"shape":"ProjectEnvironment"},
        "serviceRole":{"shape":"NonEmptyString"},
        "timeoutInMinutes":{"shape":"WrapperInt"},
        "encryptionKey":{"shape":"NonEmptyString"}
      }
    },
    "CreateProjectOutput":{
      "type":"structure",
      "members":{
        "project":{"shape":"Project"}
      }
    },
    "CreateTimeRange":{
      "type":"structure",
      "members":{
        "startTime":{"shape":"Timestamp"},
        "endTime":{"shape":"Timestamp"}
      }
    },
    "DeleteClusterInput":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{"shape":"NonEmptyString"}
      }
    },
    "DeleteClusterOutput":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteProjectInput":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{"shape":"NonEmptyString"}
      }
    },
    "DeleteProjectOutput":{
      "type":"structure",
      "members":{
      }
    },
    "DeregisterBuildDefinitionInput":{
      "type":"structure",
      "members":{
        "buildDefinitionId":{"shape":"NonEmptyString"},
        "buildDefinitionARN":{"shape":"NonEmptyString"}
      }
    },
    "DeregisterBuildDefinitionOutput":{
      "type":"structure",
      "members":{
        "buildDefinitionId":{"shape":"NonEmptyString"},
        "buildDefinitionARN":{"shape":"NonEmptyString"},
        "status":{"shape":"BuildDefinitionStatus"}
      }
    },
    "EnvironmentImage":{
      "type":"structure",
      "members":{
        "name":{"shape":"String"},
        "description":{"shape":"String"}
      }
    },
    "EnvironmentImages":{
      "type":"list",
      "member":{"shape":"EnvironmentImage"}
    },
    "EnvironmentInfo":{
      "type":"structure",
      "members":{
        "name":{"shape":"String"},
        "type":{"shape":"EnvironmentType"}
      }
    },
    "EnvironmentInfos":{
      "type":"list",
      "member":{"shape":"EnvironmentInfo"}
    },
    "EnvironmentLanguage":{
      "type":"structure",
      "members":{
        "language":{"shape":"LanguageType"},
        "images":{"shape":"EnvironmentImages"}
      }
    },
    "EnvironmentLanguages":{
      "type":"list",
      "member":{"shape":"EnvironmentLanguage"}
    },
    "EnvironmentPlatform":{
      "type":"structure",
      "members":{
        "platform":{"shape":"PlatformType"},
        "languages":{"shape":"EnvironmentLanguages"}
      }
    },
    "EnvironmentPlatforms":{
      "type":"list",
      "member":{"shape":"EnvironmentPlatform"}
    },
    "EnvironmentType":{
      "type":"string",
      "enum":["container"]
    },
    "EnvironmentVariable":{
      "type":"structure",
      "required":[
        "name",
        "value"
      ],
      "members":{
        "name":{"shape":"NonEmptyString"},
        "value":{"shape":"String"}
      }
    },
    "EnvironmentVariables":{
      "type":"list",
      "member":{"shape":"EnvironmentVariable"}
    },
    "EnvironmentVariablesDeprecated":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"}
    },
    "GetBuildInput":{
      "type":"structure",
      "members":{
        "buildArn":{"shape":"NonEmptyString"}
      }
    },
    "GetBuildOutput":{
      "type":"structure",
      "members":{
        "buildInfo":{"shape":"BuildInfo"}
      }
    },
    "GetContainerEnvironmentInput":{
      "type":"structure",
      "members":{
        "containerEnvironmentARN":{"shape":"NonEmptyString"}
      }
    },
    "GetContainerEnvironmentOutput":{
      "type":"structure",
      "members":{
        "containerEnvironment":{"shape":"ContainerEnvironment"}
      }
    },
    "InvalidBuildArnException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "InvalidContinuationTokenException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "InvalidInputException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "InvalidTimeRangeException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "LanguageType":{
      "type":"string",
      "enum":[
        "Java",
        "Python",
        "Node.js",
        "Ruby",
        "Golang"
      ]
    },
    "ListBuildsForProjectInput":{
      "type":"structure",
      "required":["projectName"],
      "members":{
        "projectName":{"shape":"NonEmptyString"},
        "sortOrder":{"shape":"SortOrderType"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListBuildsForProjectOutput":{
      "type":"structure",
      "members":{
        "ids":{"shape":"BuildIds"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListBuildsInput":{
      "type":"structure",
      "members":{
        "createTimeRange":{"shape":"CreateTimeRange"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListBuildsOutput":{
      "type":"structure",
      "members":{
        "buildArns":{"shape":"BuildArns"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListBuilds_NewInput":{
      "type":"structure",
      "members":{
        "sortOrder":{"shape":"SortOrderType"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListBuilds_NewOutput":{
      "type":"structure",
      "members":{
        "ids":{"shape":"BuildIds"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListClustersInput":{
      "type":"structure",
      "members":{
        "nextToken":{"shape":"String"}
      }
    },
    "ListClustersOutput":{
      "type":"structure",
      "members":{
        "clusters":{"shape":"ClusterNames"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListCuratedEnvironmentImagesInput":{
      "type":"structure",
      "members":{
      }
    },
    "ListCuratedEnvironmentImagesOutput":{
      "type":"structure",
      "members":{
        "platforms":{"shape":"EnvironmentPlatforms"}
      }
    },
    "ListEnvironmentsInput":{
      "type":"structure",
      "members":{
        "nextToken":{"shape":"String"}
      }
    },
    "ListEnvironmentsOutput":{
      "type":"structure",
      "members":{
        "environmentInfos":{"shape":"EnvironmentInfos"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListProjectsInput":{
      "type":"structure",
      "members":{
        "nextToken":{"shape":"NonEmptyString"}
      }
    },
    "ListProjectsOutput":{
      "type":"structure",
      "members":{
        "nextToken":{"shape":"String"},
        "projects":{"shape":"ProjectNames"}
      }
    },
    "LogsLocation":{
      "type":"structure",
      "members":{
        "groupName":{"shape":"String"},
        "streamName":{"shape":"String"},
        "deepLink":{"shape":"String"}
      }
    },
    "MaxBuildArnsExceededException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "NonEmptyString":{
      "type":"string",
      "min":1
    },
    "PhaseContext":{
      "type":"structure",
      "members":{
        "statusCode":{"shape":"String"},
        "message":{"shape":"String"}
      }
    },
    "PhaseContexts":{
      "type":"list",
      "member":{"shape":"PhaseContext"}
    },
    "PlatformType":{
      "type":"string",
      "enum":[
        "Debian",
        "Amazon Linux"
      ]
    },
    "Project":{
      "type":"structure",
      "members":{
        "name":{"shape":"String"},
        "arn":{"shape":"String"},
        "description":{"shape":"String"},
        "source":{"shape":"ProjectSource"},
        "artifacts":{"shape":"ProjectArtifacts"},
        "environment":{"shape":"ProjectEnvironment"},
        "serviceRole":{"shape":"NonEmptyString"},
        "timeoutInMinutes":{"shape":"WrapperInt"},
        "encryptionKey":{"shape":"NonEmptyString"},
        "created":{"shape":"Timestamp"},
        "lastModified":{"shape":"Timestamp"}
      }
    },
    "ProjectArtifacts":{
      "type":"structure",
      "required":["type"],
      "members":{
        "type":{"shape":"ArtifactsType"},
        "location":{"shape":"String"},
        "packaging":{"shape":"ArtifactPackaging"},
        "outputName":{"shape":"NonEmptyString"}
      }
    },
    "ProjectEnvironment":{
      "type":"structure",
      "required":[
        "name",
        "type",
        "image",
        "computeType"
      ],
      "members":{
        "name":{"shape":"NonEmptyString"},
        "type":{"shape":"EnvironmentType"},
        "image":{"shape":"NonEmptyString"},
        "computeType":{"shape":"ComputeType"},
        "environmentVariables":{"shape":"EnvironmentVariables"}
      }
    },
    "ProjectNames":{
      "type":"list",
      "member":{"shape":"NonEmptyString"}
    },
    "ProjectSource":{
      "type":"structure",
      "required":["type"],
      "members":{
        "type":{"shape":"SourceType"},
        "location":{"shape":"String"},
        "buildspec":{"shape":"String"}
      }
    },
    "Projects":{
      "type":"list",
      "member":{"shape":"Project"}
    },
    "RegisterContainerEnvironmentInput":{
      "type":"structure",
      "members":{
        "containerEnvironment":{"shape":"ContainerEnvironment"}
      }
    },
    "RegisterContainerEnvironmentOutput":{
      "type":"structure",
      "members":{
        "environmentARN":{"shape":"NonEmptyString"}
      }
    },
    "ResourceAlreadyExistsException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "SortOrderType":{
      "type":"string",
      "enum":[
        "ascending",
        "descending"
      ]
    },
    "SourceProvider":{
      "type":"structure",
      "members":{
        "type":{"shape":"SourceProviderType"},
        "location":{"shape":"String"},
        "version":{"shape":"String"},
        "auth":{"shape":"SourceProviderAuth"}
      }
    },
    "SourceProviderAuth":{
      "type":"structure",
      "members":{
        "type":{"shape":"SourceProviderAuthType"},
        "value":{"shape":"String"}
      }
    },
    "SourceProviderAuthType":{
      "type":"string",
      "enum":["oauth"]
    },
    "SourceProviderType":{
      "type":"string",
      "enum":[
        "git",
        "s3"
      ]
    },
    "SourceType":{
      "type":"string",
      "enum":[
        "codecommit",
        "codepipeline",
        "github",
        "bitbucket",
        "s3"
      ]
    },
    "StartBuildInput":{
      "type":"structure",
      "required":["projectName"],
      "members":{
        "projectName":{"shape":"NonEmptyString"},
        "sourceVersion":{"shape":"String"},
        "artifactsOverride":{"shape":"ProjectArtifacts"},
        "environmentVariablesOverride":{"shape":"EnvironmentVariables"},
        "buildspecOverride":{"shape":"String"},
        "timeoutInMinutesOverride":{"shape":"WrapperInt"}
      }
    },
    "StartBuildOutput":{
      "type":"structure",
      "members":{
        "build":{"shape":"Build"}
      }
    },
    "StatusType":{
      "type":"string",
      "enum":[
        "succeeded",
        "failed",
        "fault",
        "timed_out",
        "in_progress",
        "stopped"
      ]
    },
    "StopBuildInput":{
      "type":"structure",
      "required":["id"],
      "members":{
        "id":{"shape":"NonEmptyString"}
      }
    },
    "StopBuildOutput":{
      "type":"structure",
      "members":{
        "build":{"shape":"Build"}
      }
    },
    "String":{"type":"string"},
    "SubmitBuildInput":{
      "type":"structure",
      "members":{
        "buildArgs":{"shape":"BuildArguments"},
        "timeout":{"shape":"WrapperInt"},
        "finishNotificationTopic":{"shape":"String"},
        "sourceProvider":{"shape":"SourceProvider"},
        "environmentArn":{"shape":"NonEmptyString"},
        "initiator":{"shape":"String"}
      }
    },
    "SubmitBuildOutput":{
      "type":"structure",
      "members":{
        "buildArn":{"shape":"NonEmptyString"}
      }
    },
    "Timestamp":{"type":"timestamp"},
    "UpdateClusterInput":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{"shape":"NonEmptyString"},
        "description":{"shape":"String"},
        "serviceRole":{"shape":"NonEmptyString"},
        "timeoutInMinutes":{"shape":"WrapperInt"},
        "encryptionKey":{"shape":"NonEmptyString"}
      }
    },
    "UpdateClusterOutput":{
      "type":"structure",
      "members":{
        "cluster":{"shape":"Cluster"}
      }
    },
    "UpdateProjectInput":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{"shape":"NonEmptyString"},
        "description":{"shape":"String"},
        "source":{"shape":"ProjectSource"},
        "artifacts":{"shape":"ProjectArtifacts"},
        "environment":{"shape":"ProjectEnvironment"},
        "serviceRole":{"shape":"NonEmptyString"},
        "timeoutInMinutes":{"shape":"WrapperInt"},
        "encryptionKey":{"shape":"NonEmptyString"}
      }
    },
    "UpdateProjectOutput":{
      "type":"structure",
      "members":{
        "project":{"shape":"Project"}
      }
    },
    "WrapperInt":{"type":"integer"},
    "WrapperLong":{"type":"long"}
  }
}
